[Unit]
Description=Calibre-Web E-Book Server


[Service]
Type=simple
User=calibre
Group=calibre
Environment=HOME=/var/lib/calibre-web
Environment=CALIBRE_CONFIG_DIR=/etc/calibre-web
Environment=VIRTUAL_ENV=/opt/calibre-web/venv
Environment=PATH=/opt/calibre-web/venv/bin:/usr/local/bin:/usr/bin:/bin
WorkingDirectory=/opt/calibre-web
ExecStart=/opt/calibre-web/venv/bin/python3 /opt/calibre-web/cps.py -i 0.0.0.0 -p /var/lib/calibre-web/app.db -o /var/log/calibre-web/calibre-web.log
StandardOutput=append:/var/log/calibre-web/calibre-web.log
StandardError=append:/var/log/calibre-web/calibre-web.log


[Install]
WantedBy=multi-user.target