[Unit]
Description=NAS (primary) at /mnt/nas
DefaultDependencies=no
ConditionPathIsMountPoint=/vault
ConditionPathExists=/dev/disk/by-partlabel/homeserver-primary-nas
Requires=homeserver-nas-open@primary.service
After=homeserver-nas-open@primary.service

[Mount]
What=/dev/mapper/homeserver-primary-nas
Where=/mnt/nas
Type=xfs
Options=defaults

[Install]
WantedBy=multi-user.target
