[Unit]
Description=NAS (backup) at /mnt/nas_backup
DefaultDependencies=no
ConditionPathIsMountPoint=/vault
ConditionPathExists=/dev/disk/by-partlabel/homeserver-backup-nas
Requires=homeserver-nas-open@backup.service
After=homeserver-nas-open@backup.service

[Mount]
What=/dev/mapper/homeserver-backup-nas
Where=/mnt/nas_backup
Type=xfs
Options=defaults

[Install]
WantedBy=multi-user.target
