[Match]
Name=wan0

[Link]
ActivationPolicy=always-up

[Network]
DHCP=yes
IPForward=yes
DNSDefaultRoute=no
DNS=127.0.0.1
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=yes

[DHCP]
RouteMetric=10
UseDNS=no
UseDomains=no
UseNTP=no