[Unit]
Description=PostgreSQL Database Server
Documentation=https://www.postgresql.org/docs/
After=network.target local-fs.target
Requires=local-fs.target
StartLimitIntervalSec=900
StartLimitBurst=3

[Service]
Type=simple
User=postgres
Group=postgres
Environment=PGDATA=/opt/homeserver/postgresql/current
OOMScoreAdjust=-900
ExecStart=/opt/homeserver/postgresql/bin/postgres -D ${PGDATA}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=0
Restart=on-failure
RestartSec=10s
StartLimitBurst=3
StartLimitInterval=900s

[Install]
WantedBy=multi-user.target 