[Unit]
Description=Yarr RSS Reader

[Service]
Type=simple
User=yarr
Group=yarr
WorkingDirectory=/opt/yarr
ExecStart=/opt/yarr/yarr -db /var/lib/yarr/yarr.db

[Install]
WantedBy=multi-user.target 