[Unit]
Description=Daily Caduceus storage categories scan

[Service]
Type=oneshot
User=caduceus
Group=caduceus
ExecStart=/usr/local/bin/caduceus storage categories scan
Nice=10
IOSchedulingClass=idle
