[Unit]
Description=Start Transmission VPN and Services
ConditionPathIsMountPoint=/vault
ConditionPathIsMountPoint=/mnt/nas
After=mnt-nas.mount

[Service]
Type=simple
User=root
Group=root
ExecStart=/vault/scripts/transmission.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
WantedBy=mnt-nas.mount
