[Unit]
Description=Navidrome Music Server
After=network.target
After=vault.mount
[Service]
Type=simple
User=navidrome
Group=navidrome
ExecStart=/opt/navidrome/navidrome --configfile /etc/navidrome/navidrome.toml
WorkingDirectory=/opt/navidrome
KillMode=process
CPUWeight=10000
IOWeight=10000


[Install]
WantedBy=multi-user.target
